@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --color-background-intro: hsl(217, 28%, 15%);
  --color-background-cta: hsl(217, 28%, 15%);
  --color-background-main: hsl(218, 28%, 13%);
  --color-background-footer: hsl(216, 53%, 9%);
  --color-background-testimonials: hsl(219, 30%, 18%);
  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-accent-light-red: hsl(0, 100%, 63%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-main);
}

/* Remove list styles on ul, ol */
ul,
ol {
  list-style: none;
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-neutral-white);
}

h1,
h2,
nav,
input[type=submit] {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 1.725rem;
}

nav,
input[type=submit] {
  font-weight: 400;
}

p {
  font-size: 1rem;
}

nav {
  font-size: 0.875rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

.heading--hero {
  text-align: center;
}

.subheading--feature {
  font-size: 1.25rem;
}

.paragraph--hero {
  text-align: center;
}

.button--hero {
  text-align: center;
}

.page__feature {
  text-align: center;
}

.region {
  width: 100%;
}

#region-header {
  background-color: var(--color-background-intro);
}
#region-intro {
  background-image: url(../images/bg-curvy-mobile.svg), linear-gradient(to bottom, var(--color-background-intro), var(--color-background-intro) 59.5%, var(--color-background-main) 59.5%);
  background-position: bottom 15.75rem center, 0px 0px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 141px, cover;
}

.container {
  width: 88.2667%;
  margin-left: 5.0667%;
  margin-right: 6.6666%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.375rem;
  padding-top: 1.7857rem;
}

nav {
  opacity: 0.75;
}
nav ul {
  display: flex;
  column-gap: 1.7857rem;
}

.logo--header {
  width: 5.71428rem;
  height: auto;
}

.heading--hero {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 0.714285rem;
}

.subheading--feature {
  margin-bottom: 0.5rem;
}

.paragraph--hero {
  margin-bottom: 2.15rem;
  padding-left: 1.5rem;
  padding-right: 1.014285rem;
  opacity: 0.75;
}
.paragraph--feature {
  opacity: 0.75;
}

.button {
  display: block;
  width: 72.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
.button--gradient {
  margin: 0 auto;
  background-image: linear-gradient(151deg, var(--color-accent-cyan), var(--color-accent-blue) 95%);
}

.page__illustration--hero {
  margin-bottom: 2.5rem;
  padding-left: 1.2rem;
  padding-right: 0.714285rem;
}
.page__features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  margin-top: 9.5rem;
  grid-row-gap: 6.75rem;
}
.page__feature {
  width: 96%;
  margin: 0 auto;
}
.page__feature:first-child {
  margin-bottom: -0.5rem;
}
.page__icon {
  margin: 0 auto;
}
.page__icon--access-anywhere {
  height: 4.25rem;
  margin-bottom: 2.25rem;
}
.page__icon--security {
  height: 4.785rem;
  margin-bottom: 1.95rem;
}
.page__icon--collaboration {
  height: 3.9285rem;
  margin-bottom: 2.5715rem;
}
.page__icon--any-file {
  height: 3.5rem;
  margin-bottom: 2.75rem;
}

.attribution {
  display: none;
}
