@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --color-background-intro: hsl(217, 28%, 15%);
  --color-background-cta: hsl(217, 28%, 15%);
  --color-background-main: hsl(218, 28%, 13%);
  --color-background-footer: hsl(216, 53%, 9%);
  --color-background-testimonials: hsl(219, 30%, 18%);
  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-accent-light-red: hsl(0, 100%, 63%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-main);
}

/* Remove list styles on ul, ol */
ul,
ol {
  list-style: none;
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-neutral-white);
}

h1,
h2,
nav,
input[type=submit] {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 1.725rem;
}

nav {
  font-weight: 400;
}

p {
  font-size: 1rem;
}

nav {
  font-size: 0.875rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}
a.link--benefit,
a:link.link--benefit,
a:visited.link--benefit {
  font-size: 0.825rem;
  color: var(--color-accent-cyan);
}
a.link--benefit span,
a:link.link--benefit span,
a:visited.link--benefit span {
  opacity: 0.75;
}
@media only screen and (min-width: 41.375em) {
  a.link--benefit,
a:link.link--benefit,
a:visited.link--benefit {
    font-size: 1.15rem;
  }
}

.heading--hero {
  text-align: center;
}

.subheading {
  font-size: 1.25rem;
}
.subheading--secondary, .subheading--cta {
  letter-spacing: 0.02rem;
}

.paragraph--hero {
  text-align: center;
}
.paragraph--testimonial {
  font-size: 0.7rem;
  line-height: 1.8;
  opacity: 0.75;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: currentColor;
}
.button--hero {
  text-align: center;
}

.profile strong {
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  opacity: 0.9;
  letter-spacing: 0.05rem;
}
.profile small {
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  opacity: 0.75;
}

.page__feature {
  text-align: center;
}

.page__cta {
  text-align: center;
}

.page-address {
  font-size: 1.15rem;
}

.page-links {
  font-size: 1.125rem;
}

@media only screen and (min-width: 41.375em) {
  h1 {
    font-size: 2.875rem;
  }

  p {
    font-size: 1.435rem;
  }

  nav {
    font-size: 1.125rem;
  }

  a {
    font-size: 1.15rem;
  }

  .subheading {
    font-size: 1.4rem;
  }
  .subheading--secondary {
    font-size: 2.875rem;
    line-height: 1.25;
  }

  .paragraph--feature {
    font-size: 1.05rem;
  }
  .paragraph--secondary {
    font-size: 1.15rem;
  }
}
.region {
  width: 100%;
}

#region-header {
  background-color: var(--color-background-intro);
}
#region-intro {
  background-image: url(../images/bg-curvy-mobile.svg), linear-gradient(to bottom, var(--color-background-intro), var(--color-background-intro) 59.5%, var(--color-background-main) 59.5%);
  background-position: bottom 15.75rem center, 0px 0px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 141px, cover;
}
@media only screen and (min-width: 41.375em) {
  #region-intro {
    background-image: url(../images/bg-curvy-desktop.svg);
    background-color: var(--color-background-intro);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 449px;
  }
}
#region-cta {
  background-image: linear-gradient(to bottom, var(--color-background-main), var(--color-background-main) 50%, var(--color-background-footer) 50%);
}
#region-footer {
  background-color: var(--color-background-footer);
}

.container {
  width: 88.2667%;
  margin-left: 5.0667%;
  margin-right: 6.6666%;
}
@media only screen and (min-width: 41.375em) {
  .container {
    width: 88.8777%;
    margin-left: 5.5667%;
    margin-right: 5.5556%;
  }
}

@media only screen and (min-width: 41.375em) {
  .half {
    margin-top: 1.5rem;
    margin-left: 3.25rem;
    align-self: center;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.375rem;
  padding-top: 1.7857rem;
}
@media only screen and (min-width: 41.375em) {
  header {
    padding-top: 5.2rem;
    padding-bottom: 5.375rem;
  }
}

nav {
  opacity: 0.75;
}
nav ul {
  display: flex;
  column-gap: 1.7857rem;
}
@media only screen and (min-width: 41.375em) {
  nav ul {
    column-gap: 4.25rem;
  }
}

footer {
  padding-top: 5.25rem;
}

.logo--header {
  width: 5.71428rem;
  height: auto;
}
@media only screen and (min-width: 41.375em) {
  .logo--header {
    width: initial;
  }
}
.logo--footer {
  margin-left: 1.4rem;
  margin-bottom: 2.75rem;
}

.heading--hero {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 0.714285rem;
}
@media only screen and (min-width: 41.375em) {
  .heading--hero {
    width: 66%;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.375rem;
  }
}

.subheading--feature {
  margin-bottom: 0.5rem;
}
.subheading--secondary {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 41.375em) {
  .subheading--secondary {
    width: 90%;
    margin-bottom: 1.25rem;
  }
}
.subheading--cta {
  margin-bottom: 1rem;
}

.paragraph--hero {
  margin-bottom: 2.15rem;
  padding-left: 1.5rem;
  padding-right: 1.014285rem;
  opacity: 0.75;
}
.paragraph--feature {
  opacity: 0.75;
}
.paragraph--secondary {
  padding-left: 0.9rem;
  margin-bottom: 1rem;
  opacity: 0.75;
}
.paragraph--testimonial {
  margin-bottom: 1.5rem;
}
.paragraph--cta {
  margin-bottom: 2rem;
  opacity: 0.75;
}
@media only screen and (min-width: 41.375em) {
  .paragraph--hero {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.button {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
.button--gradient {
  margin: 0 auto;
  background-image: linear-gradient(151deg, var(--color-accent-cyan), var(--color-accent-blue) 95%);
}
.button--hero {
  width: 72.5%;
}
.button--cta {
  border: none;
}
@media only screen and (min-width: 41.375em) {
  .button {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }
  .button--hero {
    width: 22%;
    min-width: 20rem;
  }
}

.link--benefit {
  display: block;
  width: fit-content;
  padding-bottom: 0.25rem;
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid currentColor;
}
.link--benefit::after {
  display: inline-block;
  content: "";
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  margin-left: 0.3rem;
  vertical-align: text-bottom;
}
@media only screen and (min-width: 41.375em) {
  .link--benefit {
    padding-top: 0.75rem;
  }
}

.profile {
  display: grid;
  grid-template-rows: 0.875rem 0.875rem;
  grid-template-columns: 1.75rem max-content;
  column-gap: 0.625rem;
}
.profile img {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  border-radius: 50%;
  width: auto;
  height: 100%;
}
.profile strong {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}
.profile small {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding-top: 3px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form div:first-child {
  margin-bottom: 1.5rem;
}
.form input {
  width: 100%;
}
.form input[type=email] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-radius: 2rem;
  border: none;
}
.form input[type=email]::-webkit-input-placeholder {
  font-size: 0.75rem;
  opacity: 0.5;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.85rem;
  padding-bottom: 3rem;
}
.social-media-icon-box {
  border: 1px solid var(--color-neutral-white);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}
.social-media-icon {
  display: block;
  margin: auto;
  width: 0.875rem;
  height: 0.875rem;
  fill: var(--color-neutral-white);
}

@media only screen and (min-width: 41.375em) {
  .page__hero {
    padding-bottom: 13.5rem;
  }
}
.page__illustration {
  padding-left: 1.2rem;
  padding-right: 0.714285rem;
}
.page__illustration--hero {
  margin-bottom: 2.5rem;
}
.page__illustration--secondary {
  margin-bottom: 3.25rem;
}
@media only screen and (min-width: 41.375em) {
  .page__illustration {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.page__features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  margin-top: 9.5rem;
  grid-row-gap: 6.75rem;
  margin-bottom: 11.25rem;
}
@media only screen and (min-width: 41.375em) {
  .page__features {
    width: 75%;
    margin: 0rem auto 9.5rem;
    grid-column-gap: 6.5%;
  }
}
.page__feature {
  width: 96%;
  margin: 0 auto;
}
.page__feature:first-child {
  margin-bottom: -0.5rem;
}
@media only screen and (min-width: 41.375em) {
  .page__feature {
    width: 89%;
  }
  .page__feature:first-child, .page__feature:last-child {
    width: 81%;
  }
  .page__feature:first-child {
    margin-bottom: 0rem;
  }
}
.page__icon {
  margin: 0 auto;
}
.page__icon--access-anywhere {
  height: 4.25rem;
  margin-bottom: 2.25rem;
}
.page__icon--security {
  height: 4.785rem;
  margin-bottom: 1.95rem;
}
.page__icon--collaboration {
  height: 3.9285rem;
  margin-bottom: 2.5715rem;
}
.page__icon--any-file {
  height: 3.5rem;
  margin-bottom: 2.75rem;
}
@media only screen and (min-width: 41.375em) {
  .page__icon--access-anywhere {
    margin-top: 0.25rem;
    height: 5.5rem;
    margin-bottom: 2rem;
  }
  .page__icon--security {
    height: 6.25rem;
    margin-bottom: 1.5rem;
  }
  .page__icon--collaboration {
    height: 5.05rem;
    margin-bottom: 2.2rem;
  }
  .page__icon--any-file {
    margin-top: 0.25rem;
    height: 4.52rem;
    margin-bottom: 2.48rem;
  }
}
.page__secondary {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 41.375em) {
  .page__secondary {
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2.3rem;
  }
}
.page__testimonials {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  margin-top: 11rem;
  margin-bottom: 11rem;
  grid-row-gap: 1.75rem;
  padding-left: 2.125rem;
  padding-right: 1.625rem;
}
.page__testimonials::before {
  position: absolute;
  content: "";
  top: -18px;
  left: 2.525rem;
  width: 55px;
  height: 45px;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 40% 40%;
}
.page__testimonial {
  padding: 1.5rem 1.5rem;
  background-color: var(--color-background-testimonials);
  border-radius: 0.125rem;
  overflow: hidden;
}
.page__cta {
  padding: 3rem 1.75rem 2.5rem;
  background-color: var(--color-background-cta);
  border-radius: 0.25rem;
  box-shadow: 0 1px 19px -10px #000;
}
.page-meta {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25rem;
  margin-bottom: 5.75rem;
}
.page-meta > * {
  display: grid;
  grid-template-columns: 2.25rem 1fr;
  grid-column-gap: 1.25rem;
}
.page-meta > *::before {
  content: "";
  background-repeat: no-repeat;
  grid-column: 1/span 1;
  justify-self: center;
}
.page-meta span {
  opacity: 0.75;
}
.page-address::before {
  margin-top: 0.5rem;
  width: 13px;
  height: 18px;
  background-image: url(../images/icon-location.svg);
  background-size: 100% 100%;
}
.page-phone::before {
  margin-top: 0.3rem;
  width: 13px;
  height: 13px;
  background-image: url(../images/icon-phone.svg);
  background-size: 100% 100%;
}
.page-email::before {
  margin-top: 0.3rem;
  width: 20px;
  height: 16px;
  background-image: url(../images/icon-email.svg);
  background-size: 100% 100%;
}
.page-links {
  margin-left: 0.5rem;
  opacity: 0.75;
}
.page-links > * + * {
  margin-top: 1rem;
}
.page-links--1 {
  margin-bottom: 3.4rem;
}
.page-links--2 {
  margin-bottom: 5.5rem;
}

.attribution {
  display: none;
}
