:root {
  --color-background-intro: hsl(217, 28%, 15%);
  --color-background-cta: hsl(217, 28%, 15%);
  --color-background-main: hsl(218, 28%, 13%);
  --color-background-footer: hsl(216, 53%, 9%);
  --color-background-testimonials: hsl(219, 30%, 18%);

  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-accent-light-red: hsl(0, 100%, 63%);

  --color-neutral-white: hsl(0, 0%, 100%);
}
