@use "../abstracts/mixins" as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.375rem;
  padding-top: 1.7857rem;

  @include respond-to-desktop {
    max-width: 91.3817em;
    margin: 0 auto;
    padding-top: 5.2rem;
    padding-bottom: 5.375rem;
  }
}
