@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.button {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  transition: all 0.3s;

  &--gradient {
    margin: 0 auto;
    background-image: linear-gradient(
      151deg,
      var(--color-accent-cyan),
      var(--color-accent-blue) 95%
    );
  }

  &--hero { width: 72.5%; }

  &--cta { border: none; }

  &:hover { filter: brightness(115%); }

  @include respond-to-desktop {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;

    &--hero {
      width: 22%;
      min-width: 20rem;
    }
  }
}
