@use "../abstracts/variables.scss" as *;

.button {
  display: block;
  width: 72.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;

  &--gradient {
    margin: 0 auto;
    background-image: linear-gradient(
      151deg,
      var(--color-accent-cyan),
      var(--color-accent-blue) 95%
    );
  }
}
