@use "../abstracts/mixins" as *;

.link--benefit {
  display: block;
  width: fit-content;
  padding-bottom: 0.25rem;
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid currentColor;

  &::after {
    display: inline-block;
    content: "";
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    margin-left: 0.3rem;
    vertical-align: text-bottom;
  }

  @include respond-to-desktop { padding-top: 0.75rem; }
}
