@use "../abstracts/mixins" as *;

.logo {
  &--header {
    width: 5.71428rem;
    height: auto;

    @include respond-to-desktop {
      width: initial;
    }
  }

  &--footer {
    margin-left: 1.4rem;
    margin-bottom: 2.75rem;

    @include respond-to-desktop {
      margin-bottom: 2.3rem;
    }
  }
}
