.paragraph {
  &--hero {
    margin-bottom: 2.15rem;
    padding-left: 1.5rem;
    padding-right: 1.014285rem;
    opacity: 0.75;
  }

  &--feature { opacity: 0.75; }

  &--secondary {
    padding-left: 0.9rem;
    margin-bottom: 1rem;
    opacity: 0.75;
  }

  &--testimonial { margin-bottom: 1.5rem; }

  &--cta {
    margin-bottom: 2rem;
    opacity: 0.75;
  }
}
