.profile {
  display: grid;
  grid-template-rows: 0.875rem 0.875rem;
  grid-template-columns: 1.75rem max-content;
  column-gap: 0.625rem;

  img {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    border-radius: 50%;
    width: auto;
    height: 100%;
  }

  strong {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  small {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    padding-top: 3px;
  }
}
