@use "../abstracts/mixins" as *;

.subheading {
  &--feature { margin-bottom: 0.5rem; }

  &--secondary {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-bottom: 1rem;

    @include respond-to-desktop {
      width: 90%;
      margin-bottom: 1.25rem;
    }
  }

  &--cta { margin-bottom: 1rem; }
}
