@use "../abstracts/variables" as *;

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-main);
}

/* Remove list styles on ul, ol */
ul,
ol {
  list-style: none;
}
