@use "../abstracts/variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

html {
  font-size: 87.5%; // = 14px / 16px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-neutral-white);
}

h1,
h2,
nav,
input[type="submit"] {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 { font-size: 1.725rem; }

nav,
input[type="submit"] {
  font-weight: 400;
}

p { font-size: 1rem; }

nav { font-size: 0.875rem; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;

  &.link--benefit {
    font-size: 0.825rem;
    color: var(--color-accent-cyan);

    & span { opacity: 0.75; }
  }
}

.heading {
  &--hero { text-align: center; }
}

.subheading {
  &--feature { font-size: 1.25rem; }

  &--secondary {
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
  }
}

.paragraph {
  &--hero { text-align: center; }

  &--testimonial {
    font-size: 0.7rem;
    line-height: 1.8;
    opacity: 0.75;
  }
}

.button {
  &--hero { text-align: center; }
}

.profile {
  & strong {
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    letter-spacing: 0.05rem;
  }

  & small {
    font-size: 0.5rem;
    letter-spacing: 0.05rem;
    opacity: 0.75;
  }
}

.page__feature { text-align: center; }
