@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.region {
  width: 100%;
}

#region {
  &-header {
    background-color: var(--color-background-intro);
  }

  &-intro {
    background-image: url(../images/bg-curvy-mobile.svg),
      linear-gradient(
        to bottom,
        var(--color-background-intro),
        var(--color-background-intro) 59.5%,
        var(--color-background-main) 59.5%
      );
    background-position: bottom 15.75rem center, 0px 0px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 141px, cover;
  }

  &-cta {
    background-image: linear-gradient(
      to bottom,
      var(--color-background-main),
      var(--color-background-main) 50%,
      var(--color-background-footer) 50%
    );
  }

  &-footer { background-color: var(--color-background-footer); }
}

.container {
  width: 88.2667%;
  margin-left: 5.0667%;
  margin-right: 6.6666%;

  @include respond-to-desktop {
    width: 88.8777%;
    margin-left: 5.5667%;
    margin-right: 5.5556%;
  }
}
