@use "../abstracts/variables" as *;

.page {
  &__illustration {
    padding-left: 1.2rem;
    padding-right: 0.714285rem;

    &--hero {
      margin-bottom: 2.5rem;
      padding-left: 1.2rem;
      padding-right: 0.714285rem;
    }

    &--secondary {
      margin-bottom: 3.25rem;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    margin-top: 9.5rem;
    grid-row-gap: 6.75rem;
    margin-bottom: 11.25rem;
  }

  &__feature {
    width: 96%;
    margin: 0 auto;

    &:first-child { margin-bottom: -0.5rem; }
  }

  &__icon {
    margin: 0 auto;

    &--access-anywhere {
      height: 4.25rem;
      margin-bottom: 2.25rem;
    }

    &--security {
      height: 4.785rem;
      margin-bottom: 1.95rem; // 1.465rem;
    }

    &--collaboration {
      height: 3.9285rem;
      margin-bottom: 2.5715rem;
    }

    &--any-file {
      height: 3.5rem;
      margin-bottom: 2.75rem;
    }
  }

  &__secondary {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__testimonials {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    margin-top: 11rem;
    margin-bottom: 11rem;
    grid-row-gap: 1.75rem;
    padding-left: 2.125rem;
    padding-right: 1.625rem;

    &::before {
      position: absolute;
      content: "";
      top: -18px;
      left: 2.525rem;
      width: 55px;
      height: 45px;
      background-image: url(../images/bg-quotes.png);
      background-repeat: no-repeat;
      background-size: 40% 40%;
    }
  }

  &__testimonial {
    padding: 1.5rem 1.5rem;
    background-color: var(--color-background-testimonials);
    border-radius: 0.125rem;
    overflow: hidden;
  }

  &__cta {
    margin-bottom: 5.25rem;
    padding: 3rem 1.75rem 2.5rem;
    background-color: var(--color-background-cta);
    border-radius: 0.25rem;
    box-shadow: 0 1px 19px -10px #000;
  }
}

.attribution {
  display: none;
}
