@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.page {
  &__hero {
    @include respond-to-desktop {
      max-width: 80em;
      margin: 0 auto;
      padding-bottom: 12.15rem;
    }
  }

  &__illustration {
    padding-left: 1.2rem;
    padding-right: 0.714285rem;

    &--hero {
      margin-bottom: 2.5rem;
    }

    &--secondary {
      margin-bottom: 3.25rem;
    }

    @include respond-to-desktop {
      padding-left: 0rem;
      padding-right: 0rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    margin-top: 9.5rem;
    grid-row-gap: 6.75rem;
    margin-bottom: 11.25rem;

    @include respond-to-desktop {
      width: 75%;
      max-width: 69em;
      margin: 0rem auto 9.5rem;
      grid-column-gap: 6.5%;
    }
  }

  &__feature {
    width: 96%;
    margin: 0 auto;

    &:first-child { margin-bottom: -0.5rem; }

    @include respond-to-desktop {
      width: 89%;

      &:first-child, &:last-child { width: 81%; }

      &:first-child { margin-bottom: 0rem; }
    }
  }

  &__icon {
    margin: 0 auto;

    &--access-anywhere {
      height: 4.25rem;
      margin-bottom: 2.25rem;
    }

    &--security {
      height: 4.785rem;
      margin-bottom: 1.95rem; // 1.465rem;
    }

    &--collaboration {
      height: 3.9285rem;
      margin-bottom: 2.5715rem;
    }

    &--any-file {
      height: 3.5rem;
      margin-bottom: 2.75rem;
    }

    @include respond-to-desktop {
      &--access-anywhere {
        margin-top: 0.25rem;
        height: 5.5rem;
        margin-bottom: 2.00rem;
      }

      &--security {
        height: 6.25rem;
        margin-bottom: 1.5rem; // 1.465rem;
      }

      &--collaboration {
        height: 5.05rem;
        margin-bottom: 2.2rem;
      }

      &--any-file {
        margin-top: 0.25rem;
        height: 4.52rem;
        margin-bottom: 2.48rem;
      }
    }
  }

  &__secondary {
    display: grid;
    grid-template-columns: 1fr;

    @include respond-to-desktop {
      grid-template-columns: 1fr 1fr;
      max-width: 92em;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2.3rem;
    }
  }

  &__testimonials {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    margin-top: 11rem;
    margin-bottom: 11rem;
    grid-row-gap: 1.75rem;
    padding-left: 2.125rem;
    padding-right: 1.625rem;

    &::before {
      position: absolute;
      content: "";
      top: -18px;
      left: 2.525rem;
      width: 55px;
      height: 45px;
      background-image: url(../images/bg-quotes.png);
      background-repeat: no-repeat;
      background-size: 40% 40%;
    }
  }

  &__testimonial {
    padding: 1.5rem 1.5rem;
    background-color: var(--color-background-testimonials);
    border-radius: 0.125rem;
    overflow: hidden;
  }

  &__cta {
    padding: 3rem 1.75rem 2.5rem;
    background-color: var(--color-background-cta);
    border-radius: 0.25rem;
    box-shadow: 0 1px 19px -10px #000;
  }

  &-meta {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    margin-bottom: 5.75rem;

    & > * {
      display: grid;
      grid-template-columns: 2.25rem 1fr;
      grid-column-gap: 1.25rem;

      &::before {
        content: "";
        background-repeat: no-repeat;
        grid-column: 1 / span 1;
        justify-self: center;
      }
    }

    & span {
      opacity: 0.75;
    }
  }

  &-address::before {
    margin-top: 0.5rem;
    width: 13px;
    height: 18px;
    background-image: url(../images/icon-location.svg);
    background-size: 100% 100%
  }

  &-phone::before {
    margin-top: 0.3rem;
    width: 13px;
    height: 13px;
    background-image: url(../images/icon-phone.svg);
    background-size: 100% 100%
  }

  &-email::before {
    margin-top: 0.3rem;
    width: 20px;
    height: 16px;
    background-image: url(../images/icon-email.svg);
    background-size: 100% 100%
  }

  &-links {
    margin-left: 0.5rem;
    opacity: 0.75;

    & > * + * {
      margin-top: 1rem;
    }

    &--1 { margin-bottom: 3.4rem; }
    &--2 { margin-bottom: 5.5rem; }
  }
}

.attribution {
  display: none;
}
